*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
  font-family: cursive;
  background-color: #f8f6fb;
}

.container{
  display: flex;
  height: 100vh;
}


.lado-esquerdo{
  flex: 1;
  background: linear-gradient(to bottom right, #ffffff, #f3ecff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b47ede;
  text-align: center;
  padding: 2rem;
}

.lado-esquerdo img{
    width: 200px;
    height: auto;
    margin-bottom: 1.9rem;
    left: 100px;
}
.lado-esquerdo h2{
  color: #c79230;
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}


.login-box{
  background-color: #b295d4;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
}

.login-box h3{
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.login-box input{
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f8f6fb;
  font-size: 0.95rem;
}

.login-box button{
  width: 100%;
  padding: 10px;
  background-color: #6c4ab6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.login-box button:hover{
  background-color: #5a3d96;
}

.login-box p{
  margin-top: 1rem;
  color: white;
  font-size: 0.9rem;
}

.login-box a{
  color: #785b10;
  text-decoration: none;
  font-weight: bold;
}

.login-box a:hover {
  text-decoration: underline;
}


.lado-direito{
  flex: 1;
  background: linear-gradient(135deg, #b295d4, #9c7bc0);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lado-direito h1{
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  color:goldenrod;
  font-size: 2.5em;
  text-shadow:3px 3px 6px rgba(0,0,0,0.6);
 
}

.lado-direito img{
  width: 320px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
